body {
    background-color: #454599; 
}

/* . before class name */
.h{
   color: #550000;
   border-bottom: 2px inset #550000;
   text-transform: capitalize;

}

/* # before id */
#login_form{
    position: relative;
    top: 90px;
    margin-left: 200px;
    margin-right: 100px;
    width: 200px;
}

#btn{
    width: 100%;
    margin-top: 10%;
    background-color: #C6C677;
    border: 0;
    padding: 7px; 
    color: #000000;
}

.form-group{
    margin top: 7px;
}

/* children selectors */
.form-group label{
    color: #b28f00
}
